
{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"rules": {
		"@typescript-eslint/ban-types": "off",
		"@typescript-eslint/no-unused-vars": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"indent": ["error", "tab", {
			"FunctionDeclaration": {
				"parameters": "first"
			},
			"FunctionExpression": {
				"parameters": "first"
			},
			"ObjectExpression": "off"
		}]
	}
}
